{% extends 'base.html' %} {% load static %} {% block style %}

<style>
  
.myimage {
    border: 2.5px solid var(--secondary-color);
    border-radius: 15px;
    margin-right:40px;
  }

</style>

{% endblock style %} {% block content1 %}

<div class="text-center section-title mt-3">
  <h3 class="text-black">All about us..</h3>
</div>
<hr class="container mb-3" />

<section id="about" >

  <div class="container">

    <div class="row flex-lg-row flex-column-reverse mb-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h3>
          Welcome to
          <span
            >Hotel <br class="d-none d-lg-block" />
            the haven</span
          >
          of your weekend
        </h3>
        <p>
          A good hotel website should allow people to create and confirm
          bookings online. It is not simply a contact form, but rather an online
          reservation system installed on the website. By having a proper online
          reservation system, people can easily check for room availability,
          price rate, and secure the booking with payment..
        </p>
        <p>
          This involves organizing content with customers in mind and making
          sure key information such as rooms and rates, amenities, contact
          details and online bookings are never more than a single click away.
        </p>
      </div>

      <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
        <img
          src="{% static 'images/bg4.jpg' %}"
          class="img-fluid myimage"
          alt="About Us"
        />
      </div>
      
    </div>

    <hr class="container " />

    <div class="row flex-lg-row flex-column-reverse mt-4 my-2 ">
      
      <div class="col-lg-6 mb-4 mb-lg-0 pe-lg-4 my-3 text-center">
        <img
          src="{% static 'images/hotel_plaza.jpg' %}"
          class="img-fluid myimage"
          alt="About Us"
        />
      </div>

      <div class="col-lg-6 text-center ps-lg-2 my-3 text-lg-start">
        <h3>
          We have the
          <span
            >BEST <br class="d-none d-lg-block" />
            holiday
          </span>
          plans for your weekend
        </h3>
        <p>
          A good hotel website should allow people to create and confirm
          bookings online. It is not simply a contact form, but rather an online
          reservation system installed on the website. By having a proper online
          reservation system, people can easily check for room availability,
          price rate, and secure the booking with payment..
        </p>
        <p>
          This involves organizing content with customers in mind and making
          sure key information such as rooms and rates, amenities, contact
          details and online bookings are never more than a single click away.
        </p>
      </div>
    </div>

    <hr class="container my-4" />

    <div class="row flex-lg-row flex-column-reverse mb-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h3>
          Welcome to
          <span
            >Hotel <br class="d-none d-lg-block" />
            We have
          </span>
          best train travel services
        </h3>
        <p>
          A good hotel website should allow people to create and confirm
          bookings online. It is not simply a contact form, but rather an online
          reservation system installed on the website. By having a proper online
          reservation system, people can easily check for room availability,
          price rate, and secure the booking with payment..
        </p>
        <p>
          This involves organizing content with customers in mind and making
          sure key information such as rooms and rates, amenities, contact
          details and online bookings are never more than a single click away.
        </p>
      </div>

      <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center mt-4">
        <img
          src="{% static 'images/t3.jpg' %}"
          class="img-fluid myimage"
          alt="About Us"
        />
      </div>
    </div>

    <hr class="container my-2">

      <div class="row flex-lg-row flex-column-reverse mt-4 my-2 ">
      
      <div class="col-lg-6 mb-4 mb-lg-0 pe-lg-4 my-3 text-center">
        <img
          src="{% static 'images/bgsign3.jpg' %}"
          class="img-fluid myimage"
          alt="About Us"
        />
      </div>

      <div class="col-lg-6 text-center ps-lg-2 my-3 text-lg-start">
        <h3>
          We have the
          <span
            >BEST <br class="d-none d-lg-block" />
            holiday
          </span>
          plans for your weekend
        </h3>
        <p>
          A good hotel website should allow people to create and confirm
          bookings online. It is not simply a contact form, but rather an online
          reservation system installed on the website. By having a proper online
          reservation system, people can easily check for room availability,
          price rate, and secure the booking with payment..
        </p>
        <p>
          This involves organizing content with customers in mind and making
          sure key information such as rooms and rates, amenities, contact
          details and online bookings are never more than a single click away.
        </p>
      </div>
    </div>

    
  </div>
</section>

<hr class="container my-2" />

{% endblock content1 %}
