{% extends 'base.html' %} {% load static %} {% block style %}

<style>
  .blog_wrapper .card {
    border: 4px solid var(--secondary-color);
    box-shadow: 4px 8px 15px 0px var(--primary-color);
    height: 50vh;
    overflow-y: auto;
  }
  body{
    background-color: white!important;
  }
  i.fa-star {
    color: #edc93b;
    font-size: 1.3rem;
  }
  .our-partner-slider{
    background-color: white!important;
  }

  .mydiv table{
    font-size:1.3rem!important;
  }
</style>

{% endblock style %} {% block content1 %}

<section id="blog" class="blog_wrapper pb-0">
  <div class="container-fluid">

    <div class="row mb-5">
        <div class="col-sm-12 section-title text-center mb-2">
        
          <h3 class="text-black">Our Blog</h3>
        </div>
      <div class="text-center w-75 m-auto">
        Although the entire hospitality industry has been undoubtedly rocked by the pandemic, there’s no denying that the majority of hotel research and reservations are still being made online. Indeed, according to Condor Ferries, 700 million people are expected to book their hotel rooms online by 2023, with 83% of US consumers already making their travel plans digitally.
      </div>
    </div>
<hr class="container">
<div class="row mt-3">
  <div class="col-sm-12 section-title text-center mb-2">
        
    <h3 class="text-black"> Blogs Posted by admin..</h3>
  </div>
</div>
  
      <div class="row p-3 py-2">

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
  
            <img src="{% static 'images/blog/blog1.webp' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
            
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4 mx-0">
          <div class="card p-0 rounded-0">
            <img src="{% static 'images/blog/blog2.webp' %}" alt="" />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
            
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.webp' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/images/hotel3.png' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/train2.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/images/hotel1.png' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
            
            </div>
          </div>
        </div>
        
      </div>

      <hr class="container my-2">

      <div class="row mt-5 pt-5 mb-0">
        <div class="col-sm-12 section-title text-center mb-2">
              
          <h3 class="text-black"> Blogs Posted by users..</h3>
        </div>
      </div>

      <div class="container-fluid pb-0 mt-3 mb-0">
        <div class="row">
          <div class="col-sm-12">
            <div class="mydiv p-3">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S no.</th>
                   
                    <th scope="col">User Reviews</th> 
                    
                    <th scope="col">Ratings</th>
                    <th scope="col">By</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in data %}
                  <tr class="my-5 ">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{d.user_review}}</td>
                
                    <td>{{d.ratings}}*<i class="fas fa-star"></i></td>
                    <td>{{d.username}}</td>
                  </tr>
                  {% empty %}
                  <h4 class="text-center my-4">Users doesnt posted any Reviews now..</h4>
                  <hr class="container">
                  {% endfor %}
                </tbody>
              
              </table>
            </div>
          </div>
        </div>
      </div>

  

  </div>

<hr class="mt-5">

  <div class="our-partner-slider mt-0">
    <div class="container swiper our-partner">

  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/partners/brand1.webp" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="images/partners/brand2.webp" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="images/partners/brand3.webp" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="images/partners/brand4.webp" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="images/partners/brand5.webp" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="images/partners/brand6.webp" alt="" />
    </div>
  </div>

      

    </div>
  </div>
</section>

{% endblock content1 %}
