{% extends 'base.html' %} {% load static %} {% block style %}
<style>
  .explore-travel {
    padding: 1rem 0.4rem;
    margin-bottom: 2.5rem;
  }

  .explore-travel .card {
    border: none;
    border-right-color: transparent;
    border-radius: 0.9375rem;
    text-align: start;
    height: 78vh;
    width: 30vw;
    position: relative;
    margin: auto;
    transition: 0.2s linear;
    border: 2.5px solid var(--secondary-color);
  }

  .explore-travel .card:hover {
    box-shadow: 0px 0px 10px 2px gray;
  }

  .explore-travel .card img {
    border-radius: 0.9375rem 0.9375rem 0 0;
    object-fit: cover;
    height: 48%;
  }

  .explore-travel .card h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0%;
    padding: 0%;
  }

  .explore-travel .card h3 {
    margin-bottom: 0.25rem;
    line-height: 1.875rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-text);
    font-family: var(--secondary-font);
  }

  .explore-travel .card i {
    color: #edc93b;
    font-size: 1rem;
  }

  .explore-travel .card span {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
    padding: 0%;
    padding-bottom: 0.7rem;
    border-bottom: 0.0625rem solid #eee;
  }

  .explore-travel .card span del {
    color: var(--text-grey);
    margin: 0.2rem;
    text-decoration: line-through;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .explore-travel .card .cost i {
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 270px;
    font-size: 1.6rem;
  }

  .myrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #dbd9d9;
    height: 10vh;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    position: relative;
  }

  .myrow a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 12px;
    position: relative;
    text-align: center;
    align-items: center;
  }

  .myrow a::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(225, 78, 78);
    transition: 0.3s all ease;
    bottom: 0;
  }

  .myrow a:hover::after {
    width: 120%;
  }

  .myrow a.active::after {
    width: 100%;
  }

  @media (max-width: 1299px) {
    .myrow {
      height: fit-content !important;
      text-align: center;
    }
    .myrow a {
      font-size: 1.3rem;
    }

    .explore-travel .card {
      height: fit-content;
      width: 80%;
      font-size: small;
      /* text-align: center; */
    }

    .explore-travel .card img {
      max-height: 36vh;
    }

    .explore-travel .card h3 {
      font-size: 1.25rem;
      line-height: 1.375rem;
    }

    .explore-travel .card h4 {
      font-size: 1.25rem;
      line-height: 1.375rem;
    }

    .explore-travel .card p {
      font-size: 0.85rem;
      margin: 0%;
      line-height: 0.85rem;
    }

    .explore-travel .card .cost i {
      bottom: 210px;
    }
  }

  /* this is for giving border radius to the last image of this page.. */
  .myimage {
    border: 2.5px solid var(--secondary-color);
    border-radius: 15px;
    margin-right: 40px;
  }
</style>

{% endblock style %} 
{% block navbar %}
 

<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/' %}active {% endif %}"
   aria-current="page"
   href="{% url 'homeid' id %}"
   >Home</a
 >
</li>

<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/about/' %}active {% endif %}"
   href="{% url 'aboutid' id%}"
   >About</a
 >
</li>

<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/services/' %}active {% endif %}"
   href="{% url 'serviceid' id %}"
   >Services</a
 >
</li>



<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/staffs/' %}active {% endif %}"
   href="{% url 'staffsid' id%}"
   >Staffs</a
 >
</li>


<li class="nav-item">
<a
  class="nav-link {% if request.path == '/blogs/' %}active {% endif %}"
  href="{% url 'blogid' id%}"
  >Blogs</a
>
</li>



<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/travel_details/' %}active {% endif %}"
   href="{% url 'travelid' id%}"
   >Traindetails</a
 >
</li>


<li class="nav-item">
 <a
   class="nav-link {% if request.path == '/login/' %}active {% endif %} {% if request.path == '/signup/' %}active {% endif %}"
   href="{% url 'logout' id %}"
   >Logout</a
 >
</li>

<li class="nav-item mt-3 mt-lg-0">

 <a href="{{url}}" class="main-btn">Dashboard</a>
</li>



{% endblock navbar %}


{% block content1 %}

<div class="explore-travel">
  <div class="container-fluid">
    <div class="container text-center mt-5">
      <div class="section-title my-2 text-center">
        <h3 class="myuser">Here is the list of our all hotel rooms !</h3>
      </div>

      <h5 class="mb-5">
        Here you can search for your favourate hotel in any state at any city
        and you can book according to your convenience ...
      </h5>
    </div>

    <hr class="container-fluid my-4" />

    <div class="container mb-3 mb-lg-5">
      <div class="row p-2 myrow mb-lg-4 mb-1">
        <div class="col-lg-1">
          <a href="/hotellist/all/{{id}}">ALL</a>
        </div>
        <div class="col-lg-1">
          <a href="/hotellist/goa/{{id}}">GOA</a>
        </div>

        <div class="col-lg-2">
          <a href="/hotellist/kerala/{{id}}">KERALA </a>
        </div>

        <div class="col-lg-2">
          <a class="" href="/hotellist/jammu kashmir/{{id}}">KASHMIR </a>
        </div>

        <div class="col-lg-2">
          <a href="/hotellist/Rajasthan/{{id}}">RAJASTHAN</a>
        </div>

        <div class="col-lg-2">
          <a href="/hotellist/Himachal pradesh/{{id}}">HIMACHAL</a>
        </div>
        <div class="col-lg-2">
          <a href="/hotellist/others/{{id}}">OTHERS</a>
        </div>
      </div>
    </div>

    <hr class="container-fluid mt-0 mb-5" />
    <div class="row m-0">
      {% comment %} from here we start the card section ... {% endcomment %}
      {% for d in data %}

      <div class="col-lg-4 col-md-4 mb-lg-5 mb-4">
        <div class="card pb-2">
          <img src="/media/{{d.image}}" class="img-fluid" alt="" />
          <div class="pt-3 p-2">
            <h3>
              {{d.name }},<br />
              {{d.city}},
            </h3>
            <h4>{{d.state}}.</h4>
            <p>
              world class hotel with best services and also a large swiming pool
              and function hall..
            </p>
            <div class="star my-0">{{d.star}}*<i class="fas fa-star"></i></div>
            <span
              >Rs.{{d.current_cost}}<del>Rs{{d.delete_cost}}</del> /night</span
            >
            <a
              href="/bookings/{{id}}/?hname={{d.name}}&hcity={{d.city}}&hstate={{d.state}}&hcost={{d.current_cost}}"
              class="main-btn mt-2"
              >Book now</a
            >
          </div>
          
          <div class="cost">
            <i class="fas fa-award"></i>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <hr class="container-fluid" />

    <section id="about">
      <div class="container">
        <div class="row flex-lg-row flex-column-reverse mb-0 mt-3">
          <div class="col-lg-6 text-center text-lg-start">
            <h3>
              Welcome to
              <span>
                Our Hotel <br class="d-none d-lg-block" />
                We have
              </span>
              best world class hotels
            </h3>
            <p>
              A good hotel website should allow people to create and confirm
              bookings online. It is not simply a contact form, but rather an
              online reservation system installed on the website. By having a
              proper online reservation system, people can easily check for room
              availability, price rate, and secure the booking with payment..
            </p>
            <p>
              This involves organizing content with customers in mind and making
              sure key information such as rooms and rates, amenities, contact
              details and online bookings are never more than a single click
              away.
            </p>
          </div>

          <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center mt-4">
            <img
              src="{% static 'images/bgcover.jpg' %}"
              class="img-fluid myimage"
              alt="About Us"
            />
          </div>
        </div>
      </div>
    </section>
    <hr class="container mt-2" />

    <div class="container text-center pt-3">
      <div class="section-title my-2 text-center">
        <h3 class="myuser">Dear {{un}}</h3>
      </div>
      <h4>
        by clicking on the below given link you can also view your user
        dashboard to see your previous orders..
      </h4>

      <a href="{{url}}" class="main-btn mt-2">Dashboard</a>
    </div>
  </div>
</div>

{% endblock content1 %}


{% block javascript_files %}
    
<script src="{% static 'js/main2.js' %}"></script>

{% endblock javascript_files %}