{% extends 'base.html' %} {% block content1 %} {% load static %}
<!-- home section... -->
<section id="home" class="banner_wrapper p-0">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide" style=" background-image: url('{% static 'images/slider/slide5.webp' %}'); " >
          <div class="slide-caption text-center">
            <div>
              <h1>Welcome to hotels in GOA</h1>
              <p>
                you are most welcome to the worlds best hotels in dubai , you can
                book any time at your own pace. we provide the best facility you
                have experienced ever. you are always welcome
              </p>
            </div>
          </div>
      </div>

      <div class="swiper-slide" style=" background-image: url('{% static 'images/slider/slider2.webp' %}'); " >
          <div class="slide-caption text-center">
            <div>
              <h1>Welcome to hotels in KERALA</h1>
              <p>
                you are most welcome to the worlds best hotels in dubai , you can
                book any time at your own pace. we provide the best facility you
                have experienced ever. you are always welcome
              </p>
            </div>
          </div>
      </div>
      <div class="swiper-slide" style=" background-image: url('{% static 'images/slider/slide7.jpg' %}'); " >
        <div class="slide-caption text-center">
          <div>
            <h1>Welcome to hotels in SRINAGAR & LADAKH</h1>
            <p>
              you are most welcome to the worlds best hotels in dubai , you can
              book any time at your own pace. we provide the best facility you
              have experienced ever. you are always welcome
            </p>
          </div>
        </div>
    </div>

    <div class="swiper-slide" style=" background-image: url('{% static 'images/slider/slide3.jpg' %}'); " >
      <div class="slide-caption text-center">
        <div>
          <h1>Welcome to hotels in RAJASTHAN & GUJRAT</h1>
          <p>
            you are most welcome to the worlds best hotels in dubai , you can
            book any time at your own pace. we provide the best facility you
            have experienced ever. you are always welcome
          </p>
        </div>
      </div>
  </div>

  <div class="swiper-slide" style=" background-image: url('{% static 'images/slider/slide6.jpg' %}'); " >
    <div class="slide-caption text-center">
      <div>
        <h1>Welcome to hotels in SHIMLA</h1>
        <p>
          you are most welcome to the worlds best hotels in dubai , you can
          book any time at your own pace. we provide the best facility you
          have experienced ever. you are always welcome
        </p>
      </div>
    </div>
</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="container booking-area">
    <div class="row">
      <div class="col-lg mb-3 mb-lg-0">
        <input type="date" class="form-control" placeholder="Date" required />
      </div>
      <div class="col-lg mb-3 mb-lg-0">
        <input type="date" class="form-control" placeholder="Date" required />
      </div>

      <div class="col-lg mb-3 mb-lg-0">
        <select title="select" class="form-select" required>
          <option selected>Adults</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>

      <div class="col-lg mb-3 mb-lg-0">
        <select title="select" class="form-select" required>
          <option selected>Childrems</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>

      <div class="col-lg mb-3 mb-lg-0">
        <button type="submit" class="main-btn rounded-2 px-lg-3">
          <a href="{% url 'travel' %}"> Check avialibility.</a>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about_wrapper">
  <div class="container">
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-lg-6 text-center text-lg-start">
        <h3>
          Welcome to
          <span
            >Hotel <br class="d-none d-lg-block" />
            the haven</span
          >
          of your weekend
        </h3>
        <p>
          A good hotel website should allow people to create and confirm
          bookings online. It is not simply a contact form, but rather an online
          reservation system installed on the website. By having a proper online
          reservation system, people can easily check for room availability,
          price rate, and secure the booking with payment..
        </p>
        <p>
          This involves organizing content with customers in mind and making
          sure key information such as rooms and rates, amenities, contact
          details and online bookings are never more than a single click away.
        </p>

        <a href="{% url 'about' %}" class="main-btn mt-4">Read more</a>
      </div>

      <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
        <img
          src="{% static 'images/about-img.svg'  %}"
          class="img-fluid"
          alt="About Us"
        />
      </div>
    </div>
  </div>
</section>

<hr class="container" />

<!-- Rooms section -->
<section id="rooms" class="rooms_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>What I can do for you</h6>
        <h3>Our Favorite Rooms and train services</h3>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-md-4 mb-4 mb-lg-0">
        <div class="room-item">
          <img
            src="{% static './images/room/room1.webp' %}"
            alt=""
            class="img-fluid g-0"
          />

          <div class="room-item-wrap">
            <div class="room-content">
              <h5 class="text-white mb-lg-5 text-decoration-underline">
                Royal Suit
              </h5>
              <p class="text-white">
                Discover five of our favourite dresses from our new collection
                that are destined to be worn and loved immediately
              </p>
              <p class="text-white fw-bold mt-lg-4">$220 / Per Night</p>
              <a class="main-btn border-white text-white mt-lg-5" href="{% url 'service'%}"
                >Book now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 mb-lg-0">
        <div class="room-item">
          <img src="{% static './images/t1.jfif' %}" alt="" class="img-fluid" />
          <div class="room-item-wrap">
            <div class="room-content">
              <h5 class="text-white mb-lg-5 text-decoration-underline">
                Royal Suit
              </h5>
              <p class="text-white">
                Discover five of our favourite dresses from our new collection
                that are destined to be worn and loved immediately
              </p>
              <p class="text-white fw-bold mt-lg-4">$220 / Per Night</p>
              <a class="main-btn border-white text-white mt-lg-5" href="{% url 'service'%}"
                >Book now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 mb-lg-0">
        <div class="room-item">
          <img
            src="{% static './images/room/room3.webp' %}"
            alt=""
            class="img-fluid"
          />
          <div class="room-item-wrap">
            <div class="room-content">
              <h5 class="text-white mb-lg-5 text-decoration-underline">
                Royal Suit
              </h5>
              <p class="text-white">
                Discover five of our favourite dresses from our new collection
                that are destined to be worn and loved immediately
              </p>
              <p class="text-white fw-bold mt-lg-4">$220 / Per Night</p>
              <a class="main-btn border-white text-white mt-lg-5" href="{% url 'service'%}"
                >Book now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mycenter">
        <a href="{% url 'service' %}" class="main-btn mt-2"
          >View all services</a
        >
      </div>
    </div>
  </div>
</section>

<hr class="container" />

<!-- Services section -->
<!-- this is the most important section of our page... -->

<section id="services" class="services_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>We Are Here For You</h6>
        <h3>Our Awesome Services</h3>
      </div>
    </div>

    <div class="row align-items-center service-item-wrap">
      <div class="col-lg-7 p-lg-0">
        <!--Service Area Start-->

        <!-- this is a bootstap component known as tab we have to modify it using own css.. -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="spa" role="tabpanel">
            <img src="{% static './images/services/service1.webp' %}" alt="" />
          </div>
          <div class="tab-pane fade" id="restaurent" role="tabpanel">
            <img src="{% static './images/services/service2.webp' %}" alt="" />
          </div>
          <div class="tab-pane fade" id="swimming" role="tabpanel">
            <img src="{% static './images/services/service3.webp' %}" alt="" />
          </div>
          <div class="tab-pane fade" id="conference" role="tabpanel">
            <img src="{% static './images/services/service6.webp' %}" alt="" />
          </div>
        </div>
      </div>

      <div class="col-lg-5 position-relative">
        <div class="service-menu-area">
          <ul class="nav">
            <li>
              <a data-bs-toggle="tab" href="#spa" class="active">
                <span class="service-icon">
                  <img
                    src="{% static './images/services/service-icon1.webp' %}"
                    alt=""
                  />
                </span>

                <h5>Spa, beauty & Health</h5>
                <p>
                  <span>Spa and beauty </span>luptatem quia voluptas sit
                  aspernatur aut odit aut fugit, sed quia
                </p>
              </a>
            </li>

            <li>
              <a data-bs-toggle="tab" href="#restaurent">
                <span class="service-icon">
                  <img
                    src="{% static './images/services/service-icon2.webp' %}"
                    alt=""
                  />
                </span>
                <h5>Restaurant</h5>
                <p>
                  <span>Restaurant</span> lup provide grro tatem quia voluptas
                  sit aspernatur aut odit aut fugit,
                </p>
              </a>
            </li>
            <li>
              <a data-bs-toggle="tab" href="#swimming">
                <span class="service-icon">
                  <img
                    src="{% static './images/services/service-icon3.webp' %}"
                    alt=""
                  />
                </span>
                <h5>Swimming Pool</h5>
                <p>
                  <span>Swimming</span> pool luptatem quia voluptas sit
                  aspernatur aut odit aut fugit, sed quia
                </p>
              </a>
            </li>

            <li>
              <a data-bs-toggle="tab" href="#conference">
                <span class="service-icon">
                  <img
                    src="{% static './images/services/service-icon4.webp' %}"
                    alt=""
                  />
                </span>
                <h5>Conference Hall</h5>
                <p>
                  <span>Conference</span> luptatem quia voluptas sit aspernatur
                  aut odit aut fugit, sed quia
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="counter mt-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
          <h1><span id="count1"></span>+</h1>
          <p>Happy Clients</p>
        </div>

        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
          <h1><span id="count2"></span>+</h1>
          <p>New Friendships</p>
        </div>

        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
          <h1><span id="count3"></span>+</h1>
          <p>Five Start Ratings</p>
        </div>

        <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
          <h1><span id="count4"></span>+</h1>
          <p>Served Breakfast</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team section -->
<section id="team" class="team_wrapper">
  <div class="container">
    <div class="row">
      <!-- this title class is same for each section of our website..... -->
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>What I can do for you</h6>
        <h3>Our Special Staff</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team1.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Shirley Gibson</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team2.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ronald Long</h5>
            <p>Chif Reciption Officer</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team3.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ashley Sanchez</h5>
            <p>Master Chef</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team4.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Jessica Watson</h5>
            <p>Housekeeping</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mycenter">
        <a href="{% url 'staffs'%}" class="main-btn mt-2">View all staffs and team members</a>
      </div>
    </div>
  </div>
</section>
<hr class="container" />

<!-- Gallery section -->

<section id="gallery" class="gallery_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>Best Pictures Of Our Hotel</h6>
        <h3>Our Gallery</h3>
      </div>
    </div>

    <!-- here g-0 is for removing the gap between the images in row container it is a bootstrap class which removes the by default gapping between the images in row.. -->
    <div class="row g-0">
      <div class="col-lg-3 col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/1.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <!-- the effect on hover is due to this div.... -->
        <div class="gallery-item-content"></div>
      </div>

      <div class="col-lg-3 col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/2.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <div class="gallery-item-content"></div>
      </div>
      <div class="col-lg-3 col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/3.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <div class="gallery-item-content"></div>
      </div>
      <div class="col-lg-3 col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/4.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <div class="gallery-item-content"></div>
      </div>

      <div class="col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/5.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <div class="gallery-item-content"></div>
      </div>
      <div class="col-md-6 gallery-item">
        <img
          src="{% static './images/gallery/6.webp' %}"
          alt=""
          class="img-fluid w-100"
        />
        <div class="gallery-item-content"></div>
      </div>
    </div>
  </div>
</section>
<hr class="container" />

<!-- Pricing section -->
<section id="price" class="price_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>Best & Affordable Price for you</h6>
        <h3>Our Pricing</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-4 text-center rounded-3">
          <h5 class="text-decoration-underline mb-4">Economic</h5>
          <ul class="list-unstyled">
            <li>
              <p>Luxurious Train Ticket(2)</p>
            </li>
            <li>
              <p>Music Concert (30% Off)</p>
            </li>
            <li>
              <p>Restaurant (Snacks)</p>
            </li>
            <li>
              <p>Face Make(No)</p>
            </li>
          </ul>
          <hr />
          <h3>$100<sub class="fs-6 fw-normal">/NIGHT</sub></h3>
          <a href="{% url 'signup'%}" class="main-btn">Sign Up</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-4 text-center rounded-3">
          <h5 class="text-decoration-underline mb-4">buisness</h5>
          <ul class="list-unstyled">
            <li>
              <p>Luxurious Train Ticket(2)</p>
            </li>
            <li>
              <p>Music Concert (30% Off)</p>
            </li>
            <li>
              <p>Restaurant (Snacks)</p>
            </li>
            <li>
              <p>Face Make(No)</p>
            </li>
          </ul>
          <hr />
          <h3>$140<sub class="fs-6 fw-normal">/NIGHT</sub></h3>
          <a href="{% url 'signup'%}" class="main-btn">Sign Up</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-4 text-center rounded-3">
          <h5 class="text-decoration-underline mb-4">Commercial</h5>
          <ul class="list-unstyled">
            <li>
              <p>Luxurious Train Ticket(2)</p>
            </li>
            <li>
              <p>Music Concert (30% Off)</p>
            </li>
            <li>
              <p>Restaurant (Snacks)</p>
            </li>
            <li>
              <p>Face Make(No)</p>
            </li>
          </ul>
          <hr />
          <h3>$130<sub class="fs-6 fw-normal">/NIGHT</sub></h3>
          <a href="{% url 'signup'%}" class="main-btn">Sign Up</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-4 text-center rounded-3">
          <h5 class="text-decoration-underline mb-4">luxury special</h5>
          <ul class="list-unstyled">
            <li>
              <p>Luxurious Train Ticket(2)</p>
            </li>
            <li>
              <p>Music Concert (30% Off)</p>
            </li>
            <li>
              <p>Restaurant (Snacks)</p>
            </li>
            <li>
              <p>Face Make(No)</p>
            </li>
          </ul>
          <hr />
          <h3><del>$270</del>$150<sub class="fs-6 fw-normal">/NIGHT</sub></h3>
          <a href="{% url 'signup'%}" class="main-btn">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content1 %} {% block content3 %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 section-title text-center mb-5">
      <h6>Say Hello TO Our Visiters</h6>
      <h3>Our Blog</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card p-0 rounded-1">
        <img src="{% static 'images/blog/blog1.webp' %}" alt="" />
        <hr />
        <div class="blog-content bg-white p-4">
          <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
          <h6>By Admin - February 18, 2018</h6>
          <p class="mt-2">
            Posts are typically displayed in reverse chronological order so that
            the most recent post appears first, at the top of the web page.
          </p>
          <a href="{% url 'blog'%}" class="main-btn mt-2">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4 mx-0">
      <div class="card p-0 rounded-0">
        <img src="{% static 'images/blog/blog2.webp' %}" alt="" />
        <div class="blog-content bg-white p-4">
          <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
          <h6>By Admin - February 18, 2018</h6>
          <p class="mt-2">
            Posts are typically displayed in reverse chronological order so that
            the most recent post appears first, at the top of the web page.
          </p>
          <a href="{% url 'blog'%}" class="main-btn mt-2">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mycenter">
      <a href="{% url 'blog'%}" class="main-btn mt-2">Read More blogs</a>
    </div>
  </div>
</div>
{% endblock content3 %}
