{% extends 'services.html' %}
{% load static %}

{% block navlogo %}
<a class="navbar-brand" href="{% url 'homeid' id %}">
  <img
    src="{% static './images/logo.png' %}"
    class="img-fluid"
    alt="logo"
  />
</a>

{% endblock navlogo %}

{% block navbar %}
    
<li class="nav-item">
<a
  class="nav-link {% if request.path == '/'|add:id %}active {% endif %}"
  aria-current="page"
  href="{% url 'homeid' id %}"
  >Home</a
>
</li>


<li class="nav-item">
<a
  class="nav-link {% if request.path == '/about/'|add:id %}active {% endif %}"
  href="{% url 'aboutid' id%}"
  >About</a
>
</li>

<li class="nav-item">
<a
  class="nav-link {% if request.path == '/services/'|add:id %}active {% endif %}"
  href="{% url 'serviceid' id %}"
  >Services</a
>
</li>



<li class="nav-item">
<a
  class="nav-link {% if request.path == '/staffs/'|add:id %}active {% endif %}"
  href="{% url 'staffsid' id%}"
  >Staffs</a
>
</li>


<li class="nav-item">
<a
  class="nav-link {% if request.path == '/blogs/'|add:id %}active {% endif %}"
  href="{% url 'blogid' id%}"
  >Blogs</a
>
</li>



<li class="nav-item">
<a
  class="nav-link {% if request.path == '/travel_details/'|add:id %}active {% endif %}"
  href="{% url 'travelid' id%}"
  >Traindetails</a
>
</li>


<li class="nav-item">
<a
  class="nav-link "
  href="{% url 'logout' id %}"
  >Logout</a
>
</li>

<li class="nav-item mt-3 mt-lg-0">

<a href="{{url}}" class="main-btn {% if request.path == '/dashboard/'|add:id %}active {% endif %}">Dashboard</a>
</li>

{% endblock navbar %}