{% extends 'base.html' %} {% load static %} {% block style %}
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f4f4f4;
  }

  .btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
    font-weight: bold;
  }

  .btn1:hover {
    background: white;
    border: 1px solid;
    color: black;
  }

  .row111 {
    background: white;
    opacity: 0.909;
    border-radius: 25px;
    box-shadow: 20px 22px 22px;
  }

  .row111:hover {
    opacity: 0.969;
  }

  img {
    border-radius: 25px;
  }
</style>
{% endblock style %} {% block content1 %}
<div class="bgsign">

  <section class="From my-4 mx-5">
    <div class="container">
      <div class="row no-gutters row111">

        <div class="col-lg-6 d-flex align-items-center">
          <img src="{% static '/images/Images/hotel4.png' %}" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 px-5 pt-5">
          <h4>Register your account</h4>

          <div class="container">

            {% if bool == 50 %}
            <div class="alert {{cname}} alert-dismissible fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif bool == 40 %}
            <div class="alert {{cname}} alert-dismissible fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif bool == 30 %}
            <div class="alert {{cname}} alert-dismissible fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% else %} {% endif %}


            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-lg-12">
                  <input type="text" placeholder="Username" name="name" required class="form-control my-3 p-3" />
                  <input type="email" placeholder="Email-Address" class="form-control my-3 p-3" naem="email" required />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12">
                  <input type="password" placeholder="password" name="password" required
                    class="form-control my-3 p-3" />
                  <input type="password" name="cpassword" placeholder="confirm password" class="form-control my-3 p-3"
                    required />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7 m-auto">
                  <button type="submit" class="btn1 mt-3 mb-5">Register Now</button>
                </div>
              </div>
              <p>
                Already have an account <a href="{% url 'login' %}">login here</a>
              </p>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content1 %}

{% block javascript_files %}

<script src="{% static 'js/main2.js' %}"></script>

{% endblock javascript_files %}