{% extends 'base.html' %} {% load static %}
{% block style %}
<style>
  .card img {
    height: 60vh;
    object-fit:cover;
  }
</style>
{% endblock style %} 
{% block content1 %}
<section id="team" class="team_wrapper">
  <div class="container">
    <div class="row">
      <!-- this title class is same for each section of our website..... -->
      <div class="col-sm-12 section-title text-center mb-4">
        
        <h3>Here is the list of our all Staff</h3>
      </div>
    </div>

    <div class="row">
      <div class="section-title mb-2">
        <h3 class="text-center my-2 mb-3">Our Managers</h3>
      </div>
      
      <p class="text-center mb-5 mt-1">
       Our Hotel Managers are responsible for managing employees and for planning, marketing , coordinating and administering hotel services such as catering and accommodation facilities.Hotel management is an area of the hospitality industry that involves overseeing the operations of a hotel location. When working as a hotel manager, you may manage the operations of a motel, resort or another similar establishment that provides lodging and other services for guests....
      </p>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team1.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Shirley Gibson</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/hotel4.png' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ronald Long</h5>
            <p>Chif Reciption Officer</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/man2.png' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ashley Sanchez</h5>
            <p>Master Chef</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/man1.png' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Jessica Watson</h5>
            <p>Housekeeping</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
    <hr class="container" />

    <div class="row">
      <div class="section-title mt-4 mb-2">
        <h3 class="text-center my-2 mb-3">Our Chefs</h3>
      </div>
      
      <p class="text-center mb-5 mt-1">
       Our Hotel  Executive Chef is a highly skilled professional cook who oversees the operations of a restaurant or dining facility. They are responsible for the food that comes out of a kitchen, from conception to execution.An Executive Chef is a highly skilled professional cook who oversees the operations of a restaurant or dining facility. They are responsible for the food that comes out of a kitchen, from conception to execution.....
      </p>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team2.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Shirley Gibson</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/chef1.png' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ronald Long</h5>
            <p>Chif Reciption Officer</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team3.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ashley Sanchez</h5>
            <p>Master Chef</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team4.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Jessica Watson</h5>
            <p>Housekeeping</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="container" />

    <div class="row">
      <div class="section-title mt-4 mb-2">
        <h3 class="text-center my-2 mb-3">Our Co Workers</h3>
      </div>
      
      <p class="text-center mb-5 mt-1">
       Our Hotel  Executive Chef is a highly skilled professional cook who oversees the operations of a restaurant or dining facility. They are responsible for the food that comes out of a kitchen, from conception to execution.An Executive Chef is a highly skilled professional cook who oversees the operations of a restaurant or dining facility. They are responsible for the food that comes out of a kitchen, from conception to execution.....
      </p>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/house2.png' %}"
            alt=""
            class="img-fluid rounded-3 "
          />
          <div class="team-info">
            <h5>Shirley Gibson</h5>
            <p>Manager</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/chef3.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ronald Long</h5>
            <p>Chif Reciption Officer</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/images/house1.png' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Ashley Sanchez</h5>
            <p>Master Chef</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card p-0 rounded-3">
          <img
            src="{% static 'images/team/team4.webp' %}"
            alt=""
            class="img-fluid rounded-3"
          />
          <div class="team-info">
            <h5>Jessica Watson</h5>
            <p>Housekeeping</p>
            <ul class="social-network">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="container" />
{% endblock content1 %}
