{% extends 'base.html' %} {% load static %} {% block style %}
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: rgb(219, 226, 226);
  }



  .btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
    font-weight: bold;
  }

  .btn1:hover {
    background: white;
    border: 1px solid;
    color: black;
  }

  .row111 {
    background: white;
    opacity: 0.909;
    border-radius: 25px;
    box-shadow: 20px 22px 22px;
  }


  .row111:hover {
    opacity: 0.95;
  }

  img {
    background-size: cover;
    border-radius: 25px;
    margin: 0;
  }
</style>
{% endblock style %} {% block content1 %}


<!-- log in page  -->


<div class="bglogin">

  <section class="From my-4 mx-5">

    <div class="container">

      <div class="row no-gutters row111">

        <div class="col-lg-6 d-flex align-items-center">
         
          <img src="{% static '/images/update_password.png' %}" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 px-5 pt-5">

          <h4>Change your old password</h4>

          <div class="container">

            {% if bool == False %}
            <div class="alert  alert-dismissible {{cname}} fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% elif bool == true %}
            <div class="alert  alert-dismissible {{cname}} fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% elif bool == 60 %}
            <div class="alert  alert-dismissible {{cname}} fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            {% comment %} in else the bool==50 condition is occurde... {% endcomment %}
            <div class="alert  alert-dismissible {{cname}} fade show" role="alert">
              <strong>{{n}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}



            <form method="post">
              {% csrf_token %}

              <div class="form-row">
                <div class="col-lg-12">
                  <input type="text" name="name" placeholder="username" class="form-control my-3 p-2" required />
                </div>
              </div>

              <div class="form-row">
                <div class="col-lg-12">
                  <input type="password" name="newpassword" placeholder="new password" class="form-control my-3 p-2" />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12">
                  <input type="password" name="confirm_newpassword" placeholder="confirm new password" class="form-control my-3 p-2" />
                </div>
              </div>


              <div class="form-row">
                <div class="col-lg-7 m-auto">
                  <button type="submit" class="btn1 mt-3 mb-5">Change password </button>
                </div>
              </div>
              <p>Back to login page <a href="{% url 'login' %}">login page</a></p>
            </form>

          </div>
        </div>

      </div>
  </section>

</div>

{% endblock content1 %}



{% block content4 %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock content4 %}